@charset "utf-8";

/*Mengubah warna navbar*/
.navbar-fixed-top {
	background-color:#f8f8f8;
	font-weight: bold;
    opacity:0.9;
}
/*END-Mengubah warna navbar*/


/* Style untuk Header Halaman*/
.jumbotron {
	background:url(../images/leaf.jpg) no-repeat center;
	background-size:cover;
	min-height:600px;
	margin:0px;
	padding-bottom:0px;
}

/* Untuk meperkecil tinggi gambar header pada layar hape */
@media (max-width: 767px) { 
    
    .jumbotron {
        background:url(../images/leaf.jpg) no-repeat center;
        background-size:cover;
        min-height:0px;
        margin:0px;
        padding-bottom:0px;
    }
    
}
/* END-Untuk meperkecil tinggi gambar header pada layar hape */
 
/*Untuk membuat info overlay pada gambar/items*/
div.special {
	border: 1px solid #ff0ff0;
	position: relative;
}
div.special a span {
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;

	padding: 0px 10px 0px 10px;
	font-size: 1.1em;
	font-weight: normal;
	line-height: 1.3em;
	color: #000;
	background: RGBA(248,248,248, 0.9);
}
/*END-Untuk membuat info overlay pada gambar/items*/


